## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_Database.csv")
vacation_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Discription
0,0,Kudymkar,RU,2022-07-28 19:53:19,59.0173,54.6560,57.06,79,7,1.90,clear sky
1,1,Doha,QA,2022-07-28 19:48:29,25.2867,51.5333,89.58,79,20,11.50,few clouds
2,2,Ancud,CL,2022-07-28 19:53:20,-41.8697,-73.8203,47.52,79,100,4.97,overcast clouds
3,3,Katsuura,JP,2022-07-28 19:50:42,35.1333,140.3000,79.38,91,64,8.99,broken clouds
4,4,Tuktoyaktuk,CA,2022-07-28 19:49:43,69.4541,-133.0374,44.60,93,100,10.36,light rain

In [6]:
len(vacation_df)

540

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Weather Discription}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Northam, Hereford, Southend-On-Sea, and Margate

vacation_start = vacation_df.loc[(vacation_df["City"] == "Northam")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Northam")]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Hereford"]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Southend-On-Sea")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Margate")]

In [22]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]


print(f'Vacation starts at: {start}.\n Then make your first stop at: {stop1}.\n Making your second stop at: {stop2}.\n Your third stop at: {stop3}.\n Ending your vaction back at: {end}.')

Vacation starts at: (51.0333, -4.2167).
 Then make your first stop at: (52.0568, -2.7148).
 Making your second stop at: (51.5378, 0.7143).
 Your third stop at: (51.3813, 1.3862).
 Ending your vaction back at: (51.0333, -4.2167).

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Discription
0,403,Northam,GB,2022-07-28 19:56:35,51.0333,-4.2167,63.61,84,15,6.53,few clouds
1,403,Northam,GB,2022-07-28 19:56:35,51.0333,-4.2167,63.61,84,15,6.53,few clouds
2,119,Hereford,GB,2022-07-28 19:54:14,52.0568,-2.7148,69.33,69,99,5.55,overcast clouds
3,21,Southend-On-Sea,GB,2022-07-28 19:53:28,51.5378,0.7143,65.89,63,0,8.05,clear sky
4,223,Margate,GB,2022-07-28 19:50:46,51.3813,1.3862,65.89,70,100,4.00,overcast clouds

In [27]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Weather Discription}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

# 11b. Display the figure
fig.add_layer(vacation_itinerary)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))