## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

In [2]:
# Import API key
from config2 import g_key

In [3]:
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Discription
0,0,Kudymkar,RU,2022-07-28 19:53:19,59.0173,54.6560,57.06,79,7,1.90,clear sky
1,1,Doha,QA,2022-07-28 19:48:29,25.2867,51.5333,89.58,79,20,11.50,few clouds
2,2,Ancud,CL,2022-07-28 19:53:20,-41.8697,-73.8203,47.52,79,100,4.97,overcast clouds
3,3,Katsuura,JP,2022-07-28 19:50:42,35.1333,140.3000,79.38,91,64,8.99,broken clouds
4,4,Tuktoyaktuk,CA,2022-07-28 19:49:43,69.4541,-133.0374,44.60,93,100,10.36,light rain
5,5,Busselton,AU,2022-07-28 19:53:21,-33.6500,115.3333,59.81,83,100,18.52,overcast clouds
6,6,Port Alfred,ZA,2022-07-28 19:53:22,-33.5906,26.8910,63.18,86,1,14.07,clear sky
7,7,Bairiki,KI,2022-07-28 19:53:22,1.3292,172.9752,80.60,83,20,9.22,few clouds
8,8,Albany,US,2022-07-28 19:50:23,42.6001,-73.9662,90.05,56,100,7.49,overcast clouds
9,9,Jiaocheng,CN,2022-07-28 19:53:23,24.6774,116.1389,75.65,89,66,1.19,broken clouds

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 100

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Discription
1,1,Doha,QA,2022-07-28 19:48:29,25.2867,51.5333,89.58,79,20,11.50,few clouds
3,3,Katsuura,JP,2022-07-28 19:50:42,35.1333,140.3000,79.38,91,64,8.99,broken clouds
7,7,Bairiki,KI,2022-07-28 19:53:22,1.3292,172.9752,80.60,83,20,9.22,few clouds
8,8,Albany,US,2022-07-28 19:50:23,42.6001,-73.9662,90.05,56,100,7.49,overcast clouds
9,9,Jiaocheng,CN,2022-07-28 19:53:23,24.6774,116.1389,75.65,89,66,1.19,broken clouds
13,13,Puerto Ayora,EC,2022-07-28 19:49:03,-0.7393,-90.3518,78.76,93,77,8.99,broken clouds
14,14,Butaritari,KI,2022-07-28 19:50:28,3.0707,172.7902,81.93,72,41,15.32,scattered clouds
16,16,Champerico,GT,2022-07-28 19:53:26,14.3000,-91.9167,88.34,74,100,9.37,overcast clouds
22,22,Kapaa,US,2022-07-28 19:53:28,22.0752,-159.3190,80.19,78,33,1.99,scattered clouds
24,24,Jamestown,US,2022-07-28 19:50:25,42.0970,-79.2353,82.06,42,20,16.11,few clouds

In [17]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().count()

City_ID                231
City                   231
Country                231
Date                   231
Lat                    231
Lng                    231
Max Temp               231
Humidity               231
Cloudiness             231
Wind Speed             231
Weather Discription    231
dtype: int64

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Discription    0
dtype: int64

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Discription", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Discription,Lat,Lng,Hotel Name
1,Doha,QA,89.58,few clouds,25.2867,51.5333,
3,Katsuura,JP,79.38,broken clouds,35.1333,140.3000,
7,Bairiki,KI,80.60,few clouds,1.3292,172.9752,
8,Albany,US,90.05,overcast clouds,42.6001,-73.9662,
9,Jiaocheng,CN,75.65,broken clouds,24.6774,116.1389,
13,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,
14,Butaritari,KI,81.93,scattered clouds,3.0707,172.7902,
16,Champerico,GT,88.34,overcast clouds,14.3000,-91.9167,
22,Kapaa,US,80.19,scattered clouds,22.0752,-159.3190,
24,Jamestown,US,82.06,few clouds,42.0970,-79.2353,

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Weather Discription}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))